@page
@model FabolousUI.Pages.EditTypes.EditMotorcykleModel


<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.myMc.Id" />
    <input type="hidden" asp-for="@Model.myMc.Parkingspot" value="@Model.myMc.Parkingspot"/>
   
    
    
    <div class="border p-3 mt-4 col-8 container-fluid">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Category</h2>
            <hr />
        </div>




        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="myMc.Registration"></label>
            <input asp-for="myMc.Registration" class="form-control" />
            <span asp-validation-for=myMc.Registration class="text-danger"></span>
        </div>

      
        <button type="submit" class="btn btn-primary" style="width:150px;">Edit</button>
        <a class="btn btn-primary ms-2" asp-page="../Park/Index">Back to list</a>


    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}