@page
@model FabolousUI.Pages.Checkout.IndexModel




<div class="row pe-5">
    <div class="col-6">
        <form class="ps-5">

            <div class="border p-3 mt-4 ">
                <div class="row pb-2">
                    <h2 class="text-primary pl-3">Checkout Page</h2>
                    <hr />
                </div>



                <div class="container-fluid col-10">

                    <div class="mb-3">
                        <label for="regNr" class="form-label">RegNr</label>
                        <input type="text" class="form-control" style="width:80%" />
                    </div>
                    <div class="mb-3">
                        <label for="tid" class="form-label">Tid</label>
                        <input type="text" class="form-control" style="width:80%" />
                    </div>
                    <div class="mb-3">
                        <label for="kostnad" class="form-label">Kostnad</label>
                        <input type="text" class="form-control" style="width:80%" />
                    </div>
                   
                        
                    
                    <a asp-page="/Index" class="btn btn-primary mx-2" >Cancel</a>
                    <a asp-page="/Index" class="btn btn-danger mx-2" >Checkout</a>
                    
                    

                </div>
            </div>
        </form>
    </div>


    <div class="col-6 ps-5">
        <div class=col-6>
            <div class="row">

                <label for="textArea" class="form-label">TextArea:</label>
                <textarea name="kvitto" rows=18 cols=25 class="pe-3">

        </textarea>
            </div>
        </div>
    </div>

</div>

