@page
@model FabolousUI.Pages.Park.IndexModel



<h1>Park page</h1>


<hr />
<br />
<br />

@{
    var numberOfColsNeeded = 5;
    var totalCounter = Model.Cars.Count();
    var itemCounter = 1;
}

@foreach (var item in Model.Cars)
{
    if (itemCounter % numberOfColsNeeded == 1)
    {
        @:<div class="row" >
            <br />
    }
    <div class="col-lg-2 col-md-4 col-sm-6 pb-3">
        <div class="gridBox" data-id="@item.Id">
            <div class="logo">
                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-primary">@item.Registration @item.Size</a> 
            </div>
        </div>
    </div>    

    if ((itemCounter % numberOfColsNeeded == 0) || ((itemCounter) == totalCounter))
    {
        @:</div>
    }
    itemCounter++;
}

<paging 
    page-no="Model.P"
    page-size="Model.S"
    total-records="Model.TotalRecords">
</paging>