@page
@model FabolousUI.Pages.Settings.IndexModel




<div class="row">

    <div class="col-6">

        <form>


            <div class="row pb-2">
                <h2 class="text-primary pl-3">Settings Page</h2>
                <hr />
            </div>
            <div class="border p-3 mt-4 ms-4 col-6">

                <label class="form-label">Pris</label>
                <input type="number" class="form-control" />


            </div>

            <div class="ms-4 pt-4">
                <a class="btn btn-primary ">Hello</a>
                <a class="btn btn-danger ms-2">Hello Again</a>
            </div>
        </form>
    </div>

    <div class="col-6 mt-5">
        <div class="row">
            <div class="col-6">


                <label for="textArea" class="form-label">TextArea:</label>
                <textarea name="kvitto" rows=18 cols=25 class="pe-3">

        </textarea>
            </div>
        </div>
    </div>
</div>